<h1><%= @num_dice %>d<%= @num_side %></h1>
<a href="/process_roll?dice=<%= @num_dice %>&sides=<%= @num_side %>">Roll again | </a>

<a href= "/">Go Back home</a>

<ol>
<% @rolls.each do |a_roll| %>
<li><em>Result:</em> <strong><%= a_roll %></strong></li>
<% end %>
<ol>
